$white : #FFFFFF;
$black : #000000;
$gizmor-blue : #4B88FF;
$gizmor-green : #4BFF53;
$gizmor-grey: #7C7C7C;
$blue-gradient : linear-gradient(180deg, #020000 0%, rgba(0, 51, 190, 0.74) 47.92%, rgba(0, 71, 255, 0) 85.94%);