/* sizes */
$XL: 64px;
$L: 48px;
$SL: 36px;
$M: 20px;
$SM: 18px;
$S: 14px;

/* fonts */
%santaCondensed-f {
    font-family: 'Saira Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
}

%rajdhani-f {
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: normal;
}